<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: 'form-devise', style: 'max-width: 400px;', method: :post }) do |f| %>
  <h2>Forgot your password?</h2>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', placeholder: 'bob@example.com', required: true, autofocus: true %>
  </div>

  <%= f.submit "Send me reset password instructions", class: "btn btn-lg btn-primary btn-block" %>
<% end %>

<%= render "users/shared/links" %>
